
.header {
    display: flex;
    align-items: center;
    position:absolute;
    left: 50%;
    margin-left: -555px;
}

.header_box { 
    display: flex;
    flex-direction: column;
    align-items: center;

}
.header_logo {
    font-family: 'Post No Bills Jaffna SemiBold';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 54px;
    
        color:var(--text-color);
        text-decoration: none
}
.header_link {
    text-decoration: none
}
.header_text {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        
    
        letter-spacing: 0.12em;
    
        color:var(--text-color);
}
.header_list{
    display: flex;
    margin-left: 435px;
    list-style: none;
    
}

.header_item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color:var(--text-color);

    
}
.header_item:not(:last-child) {
    margin-right: 40px;
    
}
