.button {
    font-size: 14px;
    line-height: 27px;
    min-width: 255px;
    min-height: 50px;
    
    background: #FFFFFF;
    opacity: 0.2;
    color: #BEBEBE;
    cursor: pointer;
}

.button_accent {
    font-size: 14px;
    line-height: 27px;
    min-width: 255px;
    min-height: 50px;
    background: #D4C17F;
    color: #FFFFFF;
    cursor: pointer;
}

.btn_left {
    margin-left: 30px;
}