.baner { 
display: flex;
align-items: center;
justify-content: center;
background-image: url("/assets/art/rectangle.png");
height: 840px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}
.baner_box {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;

}
.baner_title {
width: 556px;
text-align: center;
}

.baner_icon_mouse {
margin-top: 100px  ;
}

.baner_list {
margin-top: 200px;
font-size: 18px;
line-height: 21px;
text-align: center;
color:var(--text-color);
display: flex;

align-items: center;
width: 100%;
justify-content: space-between;
}
.baner_item{
max-width: 255px;
width: 100%;
}
.baner_maps {
    display: flex;
    align-items: center;
}
.baner_maps_img{
    margin-right: 18px;
}
.baner_tel_img{
    margin-right: 15px;
}
.baner_tel {
    display: flex;
    align-items: center;
}
